name: Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-modules:
    name: Build ${{ matrix.module }}
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - ":lib"
          - ":ksp:processor"
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Publish to MavenCentral
        run: ./gradlew ${{ matrix.module }}:build --no-configuration-cache
